@keyframes square-to-circle {
  0%  {
    border-radius:0 0 0 0;
    background:#32D27D;
    transform:rotate(0deg);
  }
  25%  {
    border-radius:50% 0 0 0;
    background:#5096F5;
    transform:rotate(45deg);
  }
  50%  {
    border-radius:50% 50% 0 0;
    background:#625AE6;
    transform:rotate(90deg);
  }
  75%  {
    border-radius:50% 50% 50% 0;
    background:#FFC800;
    transform:rotate(135deg);
  }
  100% {
    border-radius:50%;
    background:#FA5536;
    transform:rotate(180deg);
  }
}
#stcani {
  width: 200px;
  height: 200px;
  background-color: coral;
  animation: square-to-circle 2s 1s infinite alternate;
}
#ani{
  padding-top: 50px;
  align:"center";
}
